<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARP KI MKC</title>
</head>
<body>
    <h2>ARP KI MKC</h2>
    <form action="#" method="POST">
        <label for="ip">IP:</label><br>
        <input type="text" id="ip" name="ip"><br><br>
        
        <label for="time">Time:</label><br>
        <input type="number" id="time" name="time"><br><br>

        <label for="type">Choose an option:</label><br>
        <select id="type" name="type">
            <option value="mitm">mitm</option>
            <option value="dos" selected>dos</option>
        </select><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
